html
  head
    title default
    script(src='/components/bootstrap/docs/assets/js/bootstrap.js')
    link(rel='stylesheet', href='/components/bootstrap/docs/assets/css/bootstrap.css')
  body
    h1 Test
    block content
