.container
  header.header
    h1
      a(href='#{site.url}')
        = site.title
    .fb-like(data-href="http://blog.cookhub.me",data-send="false",data-layout="button_count",data-width="450",data-show-faces="false")

.hero(style="background-image: url('/assets/images/hero.jpg')")
  .container
    .content.pull-right
      a(href='http://cookhub.me')
        h1= site.subtitle
      blockquote
        p our thoughts on cookhub and food.
      .fb-like(data-href="http://blog.cookhub.me",data-send="false",data-width="250", data-show-faces="true")
